<VirtualHost *:80>

       <Directory /var/www/html/{{ item }}/public>
          php_admin_value open_basedir "/var/www/html/{{ item }}/public:/tmp"
          AllowOverride All
          Order allow,deny
          allow from all
        </Directory>

        ServerName {{ item }}
        ServerAdmin support@{{ item }}
        # ErrorLog logs/{{ item }}_log
        # CustomLog logs/{{ item }}_log common
        DocumentRoot /var/www/html/{{ item }}/public

</VirtualHost>
